@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --gold-color: #FFD700;
  --fiat-color: #47B33D;
  --price-color: #F58B00;
  --offers-color: #B837A9;
}



/* body {} */
